'use strict';
var GulpConfig = (function () {
    function gulpConfig() {
        //Got tired of scrolling through all the comments so removed them
        //Don't hurt me AC :-)
        this.source = './source/';
        this.sourceApp = this.source + '/scripts/myjs/';

        this.tsOutputPath = this.source + '/scripts/js';
        this.allJavaScript = [this.source + '/scripts/js/**/*.js'];
        this.allTypeScript = this.source + '/scripts/ts/*.ts';

        this.typings = './tools/typings/';
        this.libraryTypeScriptDefinitions = './tools/typings/**/*.ts';
    }
    return gulpConfig;
})();
module.exports = GulpConfig;