doctype html
html(lang="en")
  
  include ./jadeIncludes/scripts.jade
    title Index
  body
    h1 Web Application Template
    #container.col
      p This is a template for a web application project
      p It includes the following features
      ul
        li Visual Studio Code line wrap for 80 characters
        li JQuery Integration
        li Zurb Foundation Integration
        
        
      