//- includes/head.jade
head
  // build:js ./scripts/vendor.js
  // vendor:js
  // endinject
  // endbuild
  // build:js ./scripts/myMainJS.js
  // myjs:js
  // endinject
  // endbuild
  
  // mainCSS:css
  // endinject
  